.container{
    display: flex;
   
    align-items: center;
    justify-content:left;
    padding-top: 2%;
}
.main-img{
    padding-left: 200px;
    padding-top: 250px;
    
}
.text-box{
    padding-left: 100px;
}
.Error-msg{
    padding-left: 40px;
    padding-top: 200px;
}
.sections{
    
    padding-left: 40px;
    .text-box{
        
        padding: 3px;
    }

}    
.sections , h4{
    width: fit-content;
    border-radius: 7px;
    padding-left: 13px;
    display: flex;
    background-color: #151515;
    
}
.sections , button{

    color: aliceblue;
    background-color: black;

}
.note {
    background-color: #151515;
    border-radius: 10px;
    padding-left: 19px;
    width: 50vw;
}
